body {
    margin: 0;
    background-color: BurlyWood;
    font: 62.5% "Trebuchet MS", sans-serif;
}

.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: left;
}

#buttonBar {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

th {
    text-align: left;
}

.currencycol {
    text-align: right;
}
.currencycol span {
    float: left;
}

td {
    border: solid 1px #cd853f;
    padding: 0.5em 1em 0.5em;
}