body {
    margin: 0;
    background-color: BurlyWood;
    font: 62.5% "Trebuchet MS", sans-serif;
}

.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: left;
}

th {
    text-align: left;
}

.currencycol {
    text-align: right;
}
.currencycol span {
    float: left;
}

td {
    border: solid 1px #cd853f;
    padding: 0.5em 1em 0.5em;
}

#labelBar span {
    background-color: rgba(255,255,255,0.7);
    padding: 2px 10px;
    border: solid 1px #66C;
    margin-top: 14px;
}

#labelBar {
    padding-top: 0.5em;
}